discord.py==2.1.1
Flask==2.1.0
Werkzeug==2.0.3
matplotlib==3.4.3
numpy==1.21.4
googletrans==4.0.0-rc1
requests==2.26.0
qrcode[pil]==7.3.1
forex-python==1.8
opencv-python-headless==4.5.3.56
pyzbar==0.1.8
